<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <startTracking>
        <!-- override client IP for GeoIP lookup testing via WAN IP or mock IP -->
        <processor type="Sitecore.SharedSource.MockGeoIpTester.Pipelines.StartTracking.OverrideIpAddress,Sitecore.SharedSource.MockGeoIpTester" patch:after="*[@type='Sitecore.Analytics.Pipelines.StartTracking.InitializeTracker,Sitecore.Analytics']">
          <!--  BAD IPs
				    Pipe-delimited list of possible IP addresses that should be caught and replaced either by the WAN IP lookup or a mock IP
            Default: 127.0.0.1|0.0.0.0
		      -->
          <BadIps>127.0.0.1|0.0.0.0</BadIps>
          
          <!--  IP URL
				    URL to plain text service that looks up the WAN IP. If a <MockIp> node exists, this will be ignored.
				    Default: http://wtfismyip.com/text
		      -->
          <!--
          <IpUrl>http://wtfismyip.com/text</IpUrl>
          -->

          <!--  MOCK IP
				    IP address to manually set for the site visitor; useful to test known IPs in known geographic locations.
				    If this node exists, no real-time public IP lookup will occur via the <IpUrl> node
            Default: turned off
		      -->
          <!--
          <MockIp>IP HERE</MockIp>
          -->
        </processor>
      </startTracking>
    </pipelines>
  </sitecore>
</configuration>
